{% extends "Base.html" %}

{% block content %}

<div class="container">

    <h1>Top 10 cities</h1>
    <table class="table table-danger table-striped table-hover">

        <thead>
        <tr>
            <th>City</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Shanghai</td>
            <td>23.4 M</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Beijing</td>
            <td>18.8 M</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tianjing</td>
            <td>12.8 M</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Shenzhen</td>
            <td>12.7 M</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Guangzhou</td>
            <td>11.6 M</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Chengdu</td>
            <td>10.2 M</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Dongguan</td>
            <td>8.3 M</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Chongqing</td>
            <td>8.2 M</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Shenyang</td>
            <td>7.9 M</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Wuhan</td>
            <td>7.9 M</td>
        </tr>
        </tbody>
    </table>

</div>

{% endblock %}