{% extends "Base.html" %}

{% block content %}
<div style="text-align:center">
    <h3>Chinese Food </h3>
<img src=" https://img.pagecloud.com/v9W8aUhpTBJALANdsLmVnyVA6Zo=/1000x0/filters:no_upscale()/zichenweb/ed2c783a-7b85-4893-acdb-a00a6504c647.jpeg " width="1200" height="500">
</div>


<main>
    <div class="container story">
        <h3 class="text-secondary">Food History</h3>
        <p class="text-secondary">
Chinese cuisine is an important part of Chinese culture, which includes cuisine originating from the diverse regions of China, as well as from Chinese people in other parts of the world. Because of the Chinese diaspora and historical power of the country, Chinese cuisine has influenced many other cuisines in Asia, with modifications made to cater to local palates. Chinese food staples such as rice, soy sauce, noodles, tea, and tofu, and utensils such as chopsticks and the wok, can now be found worldwide.
            <br/>
The preference for seasoning and cooking techniques of Chinese provinces depend on differences in historical background and ethnic groups. Geographic features including mountains, rivers, forests and deserts also have a strong effect on the local available ingredients, considering that the climate of China varies from tropical in the south to subarctic in the northeast. Imperial, royal and noble preference also plays a role in the change of Chinese cuisines. Because of imperial expansion and trading, ingredients and cooking techniques from other cultures are integrated into Chinese cuisines over time.

        </p>
    </div>
</main>


<main>
    <div class="container story">
        <h3 class="text-secondary">Spicy food </h3>

            <img src="https://www.seriouseats.com/images/2014/08/20140625-sichuan-food.jpg " width="800" height="500">


        <p class="text-secondary">
Sichuan cuisine, Szechwan cuisine, is a style of Chinese cuisine originating from Sichuan Province. It has bold flavours, particularly the pungency and spiciness resulting from liberal use of garlic and chili peppers, as well as the unique flavour of Sichuan pepper. There are many local variations within Sichuan Province and the neighbouring Chongqing Municipality, which was part of Sichuan Province until 1997. Four sub-styles of Sichuan cuisine include Chongqing, Chengdu, Zigong and Buddhist vegetarian style.
        </p>
    </div>
</main>
{% endblock %}